*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  margin: 10px;
  width:100px;
  height: 100px;
}
.red {
  color: red;
  border: 1px solid red;
}
